<body style="background-color:black">
    <div class="container">
        <img src="assets/AdminHomepage.jpg" id="bg" alt="">
        <div class="centered"><h1 style="font-family:verdana;">Welcome  Admin !!!</h1></div>
       
       </div>
     
        <div>
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/Userdetails">Users</a>
                <a class="navbar-brand" routerLink="/Scheduledetails">Schedule Details</a>
                <a class="navbar-brand" routerLink="/airportdetails">Airports</a>
                <a class="navbar-brand" routerLink="/flightdetails">Flights Management</a>
                <a class="navbar-brand" routerLink="/Scheduleflightdetails">View ScheduleFlights</a>
                <a class="navbar-brand" routerLink="/passenger">View Passenger Details</a>
                <a class="navbar-brand" routerLink="/booking">Flight Bookings</a>
                <a class="navbar-brand" routerLink="/logout">Logout</a>
            </div>
        </nav>
    </div>
    </body>